{
  "presets": ["latest", "react", "stage-0"],
  "plugins": ["transform-runtime"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    },
    "production": {
      "presets": ["react-optimize"]
    },
    "test": {
      "plugins": [
        [
          "istanbul", {
            "exclude": ["**/*.spec.js"]
          }
        ]
      ]
    }
  }
}
